<div class="dashboard">
    <!-- Panel izquierdo -->
    <div class="sidebar">
      <!-- Imagen de la empresa -->
      <div class="logo-container">
        <img src="assets/imagenes/logo.png" alt="Logo de la empresa" class="empresa-logo">
      </div>
  
      <!-- Subtema "Administrar" -->
      <div class="subtema">
        <h2>Administrar</h2>
      </div>
  
      <!-- Pestañas de navegación -->
      <ul>
        <li>
          <button (click)="setActiveButton('cortes')" [class.active]="currentSection === 'cortes'" class="menu-button">
            <i class="fas fa-cut"></i> <!-- Icono para 'Cortes' -->
            Cortes
          </button>
        </li>
        <li>
          <button (click)="setActiveButton('tratamientos')" [class.active]="currentSection === 'tratamientos'" class="menu-button">
            <i class="fas fa-spa"></i> <!-- Icono para 'Tratamientos' -->
            Tratamientos
          </button>
        </li>
        <li>
          <button (click)="setActiveButton('clientes')" [class.active]="currentSection === 'clientes'" class="menu-button">
            <i class="fas fa-users"></i> <!-- Icono para 'Clientes' -->
            Clientes
          </button>
        </li>
      </ul>
    </div>
  
    <!-- Panel derecho -->
    <div class="main-content">
      <app-admin-cortes *ngIf="currentSection === 'cortes'"></app-admin-cortes>
      <app-admin-tratamientos *ngIf="currentSection === 'tratamientos'"></app-admin-tratamientos>
      <app-admin-clientes *ngIf="currentSection === 'clientes'"></app-admin-clientes>
    </div>
  </div>
  